@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

/* ------ Colours ------ */
:root {
    --light-blue: #9765F4;
}

* {
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    transition: all .2s linear;
}

/* ------ Selection ------ */
*::selection {
    background: var(--light-blue);
    color: #333;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* ------ Scrollbar ------ */
html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #333;
}

html::-webkit-scrollbar-thumb {
    background: var(--light-blue);
    border-radius: 5px;
}



section {
    min-height: 100vh; padding: 1rem;
}

body.light-mode {
    background: #fafafa;
    color: #000;
}

.btn {
    padding:.7rem 3rem;
    background: #333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i {
    padding: 0 0.5rem;
    font-size: 1.8rem;
}

.btn:hover {
    background: var(--light-blue);
    color: #000;
}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: 0.1rem solid #fff4;
    color: #fff;
}

header #demo {
    color: white;
    position: fixed;
    top: 8rem;
    font-size: 1.5rem;
    background: #333;
    padding: 1rem 7rem;
    border-radius: 5rem;
}

header {
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header input[type="checkbox"] {
    visibility: hidden;
}

header .checkbox {
    position: fixed;
    top: 2rem;
    width: 0;
    height: 0;
}

header label {
    display: block;
    width: 50px;
    height: 20px;
    left: -25px;
    background-color: #333;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 20px #a6abac50;
}

header label::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #fff;
    position: absolute;
    border-radius: 70px;
    top: 2.25px;
    left: 2.25px;
    transition: 0.5s;
}

input:checked + label:after {
    left: calc(90%);
    transform: translateX(-90%);
}

input:checked + label {
    background-color: var(--light-blue);
}

label:active:after {
    width: 20px;
}

header .user img {
    height:20rem;
    width:20rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 0.35rem solid var(--light-blue);
}

header .user .name {
    font-size: 3.5rem;
    color:#fff;
}

header .user .post {
    font-size: 2rem;
    color:#eee;
}

header .navbar {
    width:100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover {
    background: var(--light-blue);
    color: #000000;
}

header .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 1rem;
    padding: .7rem 4rem 0.35rem 4rem;
    margin: 1.5rem 0;
    background: #333;
    font-size: 2rem;
    gap: 3rem;
    border-radius: 5rem;
}

header .socials > * {
    flex-basis: 100%;
}

header .socials .nav_link {
    color: #fff;
}

header .socials .nav_link:hover:nth-child(1) {
    color: #4267B2;
}

header .socials .nav_link:hover:nth-child(2) {
    color: #C13584;;
}

header .socials .nav_link:hover:nth-child(3) {
    color: #000;
}

#menu {
    position: fixed;
    top:2rem; right:2rem;
    background: var(--light-blue);
    color: #000;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3 {
    font-size: 2.5rem;
    color: #fff;
}

.home h1 {
    font-size: 4rem;
    color: #fff;
}

.home span {
    color: var(--light-blue);
}

.home p {
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .info {
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3 {
    font-size: 2rem;
    color: var(--light-blue);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span {
    color: #eee;
    padding: 0 0.5rem;
}

.about .row .counter {
    flex: 1 1 48rem;
    display: flex;    
    justify-content: center;
    flex-flow: column;
    flex-wrap: wrap;
    margin: 0 6rem 0 6rem;
}

.about .row .counter h3 {
    text-align: center;
    font-size: 3rem;
    color: var(--light-blue);
    padding-bottom: 1rem;
}

.about .row .counter .accordion {
    padding: 1rem 0;
    background: #333;
    color: #fff;   
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.about .row .counter .accordion:nth-child(2) {
    border-radius: 2rem 2rem 0 0; 
    border-bottom: 1px solid #2a2a2a;
}

.about .row .counter .accordion:nth-child(4) {
    border-bottom: 1px solid #2a2a2a;
}

.about .row .counter .accordion:nth-child(6) {
    border-bottom: 1px solid #2a2a2a;
}

.about .row .counter .accordion:nth-child(8) {
    border-bottom: 1px solid #2a2a2a;
}

.about .row .counter .accordion:nth-child(10) {
    border-radius: 0 0 2rem 2rem; 
}

.about .row .counter .accordion:hover,:focus {
    background: var(--light-blue);
    color: #000;
}

.about .row .counter .panel {
    background: #222;
    margin: 0 5px;
    padding: 1rem;
    font-size: 2rem;
    display: none;
    overflow: hidden;
    color: var(--light-blue);
    text-align: center;
}

/*
.about .row .counter .box {
    width: 20rem;
    background: #333;
    text-align: center;
    padding: 5rem;
    margin: 2rem;
    border-radius: 2rem;   
}

.about .row .counter .box span {
    font-size: 3rem;
    color: var(--light-blue);
}

.about .row .counter .box h3 {
    font-size: 2rem;
    color: #fff;
}
*/

.education .container-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .container-box .box{
    width: 20rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .container-box .box span {
    font-size: 1.3rem;
    background:#333;
    color: #fff;
    padding: .5rem 2.5rem;
    border-radius: 1rem;
}

.education .container-box .box h3 {
    font-size: 2rem;
    color: #fff;
    padding-top: 2rem;
}

.education .container-box .box p {
    font-size: 1.5rem;
    color: #fff;
    padding-top: 1.5rem;
}

.education .container-box .box i {
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#000;
    background: var(--light-blue);
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;  
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 0;
}

.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: #333;
    color: #fff;
    border-radius: 1rem;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.contact .row form .message {
    height: 15rem;
    resize: none;
}

.contact .row .content .title {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: normal;
}

.contact .row .content .info h3 {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.contact .row .content .info i {
    color: var(--light-blue);
    margin-right: 1rem;
}

.contact .row .content .info .mail {
    color: #fff;
}

.contact .row .content .info .social {
    color: #fff;
}

#top {
    position: fixed;
    bottom: 2rem; right: 2rem;
    z-index: 100;
    display: none;
}

.arrow-up {
    color: #fff;
}

.arrow-up:hover {
    color: #000;
}

.arrow-up i {
    font-size: 2rem;
}

.far {
    position: fixed;
    right: 7rem; top: 22.22rem;
    font-size: 2.5rem;
    color: greenyellow;
    display: none;
}

body {
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}


/* ------ Media Queries ------ */

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }

    .home {
        padding: 1rem 4rem;
    }
}

@media (max-width:991px) {
    header {
        left: -120%;
    }

    #menu {
        display: block;
    }

    header.toggle {
        left: 0%;
    }

    body {
        padding: 0;
    }
}

@media (max-width:768px) {
    html {
        font-size: 50%;
    }
}

@media (max-width:400px) {
    header {
        width: 100vw;
    }

    .heading {
        margin: 0 3rem;
    }

    .about .row .counter .box {
        width: 100%;
    }

    .education .container-box .box {
        width: 100%;
    }
}


