* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background: linear-gradient(to bottom, #005c97, #363795);
    /*background-color: #011f4b;*/
    border-right: 3px solid black;
}

.sidebar h1 {
    color: #fff;
    text-align: center;
    line-height: 90px;
    border-bottom: 1px solid #fff;
}

.sidebar .resume-photo {  
    display: flex;
    align-items: center;  
    margin: 25px;    
}

.sidebar .resume-photo img {
    width: 200px;
    height: 200px;
    flex-basis: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
}

.sidebar ul {
    list-style-type: none;
    font-size: 1.2rem;
}

.sidebar ul li img {
    margin-right: 8px;
}

.sidebar li {
    border-top: 1px solid #fff;
    padding: 20px;
}

.sidebar ul li:last-child {
    border-bottom: 1px solid #fff;
}

.sidebar li:hover {
    background-color: #3370cc;
    rotate: 360deg;
    transition: 1s;
}

.sidebar ul li a{
    text-decoration: none;
    color: #fff;
}

.social {
    position:fixed;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.5rem;
    display: flex;
    color: #fff;
}

.social a {
    margin: 0 0.3em;
    background: #5d57bd;
    border-radius: 5px;
    width: 1.5em;
    height:1.5em;
    display:flex;
    align-items: center;
    text-decoration: none;
}

.social a:hover {
    background: #281675;
    rotate: 360deg;
    transition: 0.7s;
}

.social i {
    color: #fff;
    margin: 0 auto;
}

.main {
    width: auto;
    margin-left: 250px;   
}

.main section {
    height: 100vh;
    padding: 30px;
    font-size: 2rem;
}

#section1 h1 {
    text-align: center;
    padding-bottom: 0.5em;
}

#section1 a {
    text-decoration: underline;
    color: black;
}

#section1 input {
    width: 50ch;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.35);
    margin-left: auto;
}

#section1 button {
    width: 10ch;
    border-radius: 5px;
    padding: 0.5em;
    background: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.35);
}

#section2 h1 {
    text-align: center;
    padding-bottom: 0.5em;
}

#section2 ul {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.35);
}

#section2 ul li {
    padding: 0.5em;
}

#section2 ul li:nth-child(1) {
    border-bottom: 1px solid #cfcece;
}

#section2 ul li:nth-child(2) {
    border-bottom: 1px solid #cfcece;
}

#section2 ul li:nth-child(3) {
    border-bottom: 1px solid #cfcece;
}

#section2 a {
    text-decoration: none;
    color: black;
}

#section3 h1 {
    text-align: center;
    padding-bottom: 0.5em;
}

#section3 ul {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.35);
}

#section3 ul li {
    padding: 0.5em;
}

#section3 ul li:nth-child(1) {
    border-bottom: 1px solid #cfcece;
}

#section3 ul li:nth-child(2) {
    border-bottom: 1px solid #cfcece;
}

#section3 ul li:nth-child(3) {
    border-bottom: 1px solid #cfcece;
}

#section3 ul li:nth-child(4) {
    border-bottom: 1px solid #cfcece;
}

#section3 ul li:nth-child(5) {
    border-bottom: 1px solid #cfcece;
}

#section3 ul li:nth-child(6) {
    border-bottom: 1px solid #cfcece;
}

#section4 h1 {
    text-align: center;
    padding-bottom: 0.5em;
}

#section4 a {
    text-decoration: underline;
    color: #000;
}

#section5 h1 {
    text-align: center;
    padding-bottom: 0.5em;
}
